<div class="header">
  <div class="container header-container">
    <nav>
      <a class="header-container__logo" href="/index.html">Y O U R L O G O</a>
      <ul class="navigation">
        <li><a href="#footer">Market Place</a></li>
        <li><a href="#footer">Blog</a></li>
        <li><a href="#footer">Pricing</a></li>
        <li><a href="#fuuter">About</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </nav>
    <ul class="shopping">
      <li class="shopping__bag">
        <svg class="shopping__bag-icon" width="24" height="24">
          <use href="../img/icons/icons.svg#icon-bag"></use>
        </svg>
      </li>
      <li class="shopping__user-picture">
        <img
          class="shopping__user-img"
          src="/img/header-img/user.png"
          alt="User"
        />
      </li>
    </ul>
  </div>
</div>
