.header-container {
  display: flex;
  justify-content: space-between;
  .header-container__logo {
    margin-right: 110px;
    margin-left: 100px;
  }
}

nav {
  display: flex;
}
.navigation {
  display: flex;
  gap: 60px;
}
.shopping {
  display: flex;
}
